# Flash Kernel initialization script
# Pieces taken from @anarkia1976, @franciscofranco, @frap129, and @flar2

on boot
   # Wake gestures
   chown root root /sys/android_touch/wake_gestures
   chmod 666 /sys/android_touch/wake_gestures
   write /sys/android_touch/wake_gestures 0
   chmod 644 /sys/android_touch/wake_gestures

   # Enable double tap to wake
   chown root root /sys/android_touch/doubletap2wake
   chmod 666 /sys/android_touch/doubletap2wake
   write /sys/android_touch/doubletap2wake 1
   chmod 644 /sys/android_touch/doubletap2wake

   # Disable sweep to sleep
   chown root root /sys/android_touch/sweep2sleep
   chmod 666 /sys/android_touch/sweep2sleep
   write /sys/android_touch/sweep2sleep 0
   chmod 644 /sys/android_touch/sweep2sleep

   # Enable sweep to wake in up and down
   chown root root /sys/android_touch/sweep2wake
   chmod 666 /sys/android_touch/sweep2wake
   write /sys/android_touch/sweep2wake 2
   chmod 644 /sys/android_touch/sweep2wake

   # Enable camera gesture
   chown root root /sys/android_touch/camera_gesture
   chmod 666 /sys/android_touch/camera_gesture
   write /sys/android_touch/camera_gesture 1
   chmod 644 /sys/android_touch/camera_gesture

   # Set vibration strength to 27 (50% in EXKM)
   chown root root /sys/android_touch/vib_strength
   chmod 666 /sys/android_touch/vib_strength
   write /sys/android_touch/vib_strength 27
   chmod 644 /sys/android_touch/vib_strength


on property:sys.boot_completed=1
   # I/O scheduler - fiops - 512 read ahead
    write /sys/block/mmcblk0/queue/scheduler fiops
    write /sys/block/mmcblk0/queue/read_ahead_kb 512


   # Backlight dimmer
   write /sys/module/mdss_fb/parameters/backlight_dimmer 1

    # KSM - Kernel Samepage Mapping
    write /sys/kernel/mm/ksm/run 0
    write /sys/kernel/mm/ksm/pages_to_scan 256
    write /sys/kernel/mm/ksm/sleep_millisecs 1000
    write /sys/kernel/mm/ksm/deferred_timer 1

   # Disable fsync
    write /sys/module/sync/parameters/fsync_enabled 0
