# Flash Kernel initialization script
# Pieces taken from @anarkia1976, @franciscofranco, @frap129, and @flar2

on boot
   # Wake gestures
   chown root root /sys/android_touch/wake_gestures
   chmod 666 /sys/android_touch/wake_gestures
   write /sys/android_touch/wake_gestures 0
   chmod 644 /sys/android_touch/wake_gestures

   # Enable double tap to wake
   chown root root /sys/android_touch/doubletap2wake
   chmod 666 /sys/android_touch/doubletap2wake
   write /sys/android_touch/doubletap2wake 1
   chmod 644 /sys/android_touch/doubletap2wake

   # Disable sweep to sleep
   chown root root /sys/android_touch/sweep2sleep
   chmod 666 /sys/android_touch/sweep2sleep
   write /sys/android_touch/sweep2sleep 0
   chmod 644 /sys/android_touch/sweep2sleep

   # Enable sweep to wake in up and down
   chown root root /sys/android_touch/sweep2wake
   chmod 666 /sys/android_touch/sweep2wake
   write /sys/android_touch/sweep2wake 2
   chmod 644 /sys/android_touch/sweep2wake

   # Enable camera gesture
   chown root root /sys/android_touch/camera_gesture
   chmod 666 /sys/android_touch/camera_gesture
   write /sys/android_touch/camera_gesture 1
   chmod 644 /sys/android_touch/camera_gesture

   # Set vibration strength to 27 (50% in EXKM)
   chown root root /sys/android_touch/vib_strength
   chmod 666 /sys/android_touch/vib_strength
   write /sys/android_touch/vib_strength 27
   chmod 644 /sys/android_touch/vib_strength


on property:sys.boot_completed=1
   # I/O scheduler - fiops - 512 read ahead
    write /sys/block/mmcblk0/queue/rq_affinity 1
    write /sys/block/mmcblk0rpmb/queue/rq_affinity 1
    write /sys/block/mmcblk0/queue/scheduler fiops
    write /sys/block/mmcblk0rpmb/queue/scheduler fiops
    write /sys/block/mmcblk0/queue/add_random 1

    # LITTLE
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor elementalx
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1708800
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor elementalx
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1708800
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor elementalx
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1708800
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor elementalx
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 1708800

    # big
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor elementalx
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1958400
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_governor elementalx
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_max_freq 1958400
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_governor elementalx
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_max_freq 1958400
    write /sys/devices/system/cpu/cpu7/online 1
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_governor elementalx
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_max_freq 1958400

   # Input boost settings
   write /sys/module/cpu_boost/parameters/input_boost_enabled 1
   write /sys/module/cpu_boost/parameters/input_boost_freq "0:960000 1:960000 2:960000 3:960000 4:0 5:0 6:0 7:0"
   write /sys/module/cpu_boost/parameters/input_boost_ms 60


   # Backlight dimmer
   write /sys/module/mdss_fb/parameters/backlight_dimmer 1

    # KSM - Kernel Samepage Mapping
    write /sys/kernel/mm/ksm/run 0
    write /sys/kernel/mm/ksm/pages_to_scan 256
    write /sys/kernel/mm/ksm/sleep_millisecs 1000
    write /sys/kernel/mm/ksm/deferred_timer 1

   # Sound settings
   write /sys/kernel/sound_control/speaker_gain "25 25"
   write /sys/kernel/sound_control/headphone_pa_gain "1 1"
   write /sys/kernel/sound_control/mic_gain 10
   write /sys/kernel/sound_control/headphone_gain "6 6"

   # bcmdhd wakeup sources
   write /sys/module/wakeup/parameters/enable_wlan_rx_wake_ws 0
   write /sys/module/wakeup/parameters/enable_wlan_ctrl_wake_ws 0
   write /sys/module/wakeup/parameters/enable_wlan_wake_ws 0

   # Disable fsync
    write /sys/module/sync/parameters/fsync_enabled 0
