# Flash Kernel initialization script
# Pieces taken from @anarkia1976, @franciscofranco, @frap129, and @flar2


on post-fs
   write /dev/cpuset/foreground/cpus 0-7
   write /dev/cpuset/foreground/boost/cpus 0-7
   write /dev/cpuset/background/cpus 0-7
   write /dev/cpuset/system-background/cpus 0-7

on property:sys.boot_completed=1
   # according to Qcom this legacy value improves first launch latencies
   # stock value is 512k
   # from franciscofranco
   setprop dalvik.vm.heapminfree 2m

   # cpuset
   write /dev/cpuset/foreground/cpus 0-2,4-7
   write /dev/cpuset/foreground/boost/cpus 4-7
   write /dev/cpuset/background/cpus 0-2
   write /dev/cpuset/system-background/cpus 0-2

   # I/O scheduler - fiops - 512 read ahead
    write /sys/block/mmcblk0/queue/rq_affinity 1
    write /sys/block/mmcblk0rpmb/queue/rq_affinity 1
    write /sys/block/mmcblk0/queue/scheduler fiops
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk0rpmb/queue/scheduler fiops
    write /sys/block/mmcblk0/queue/add_random 1

    # LITTLE
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor elementalx
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1708800
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor elementalx
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1708800
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor elementalx
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1708800
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor elementalx
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 1708800

    # big
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor elementalx
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2016000
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_governor elementalx
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_max_freq 2016000
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_governor elementalx
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_max_freq 2016000
    write /sys/devices/system/cpu/cpu7/online 1
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_governor elementalx
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_max_freq 2016000

   # Input boost settings
   write /sys/module/cpu_boost/parameters/input_boost_enabled 1
   write /sys/module/cpu_boost/parameters/input_boost_freq "0:960000 1:960000 2:960000 3:960000 4:0 5:0 6:0 7:0"
   write /sys/module/cpu_boost/parameters/input_boost_ms 60

   # Core control disabled, msm_thermal enabled
    write /sys/module/msm_thermal/vdd_restriction/enabled 0
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/module/msm_thermal/parameters/poll_ms 300
    write /sys/module/msm_thermal/parameters/temp_threshold 65
    write /sys/module/msm_thermal/parameters/temp_big_threshold 68
    write /sys/module/msm_thermal/parameters/temp_step_big 2
    write /sys/module/msm_thermal/parameters/temp_step_little 4
    write /sys/module/msm_thermal/parameters/temp_count_max_big 5
    write /sys/module/msm_thermal/parameters/temp_count_max_little 3
    write /sys/module/msm_thermal/parameters/freq_step_big 2
    write /sys/module/msm_thermal/parameters/freq_step_little 1
    write /sys/module/msm_thermal/parameters/enabled Y

   # Backlight dimmer
   write /sys/module/mdss_fb/parameters/backlight_dimmer 0

   # Tune Adrenoboost
   write /sys/devices/soc.0/fdb00000.qcom,kgsl-3d0/devfreq/fdb00000.qcom,kgsl-3d0/adrenoboost 1

   # Sound settings
   write /sys/kernel/sound_control/speaker_gain "25 25"
   write /sys/kernel/sound_control/headphone_pa_gain "1 1"
   write /sys/kernel/sound_control/mic_gain 10
   write /sys/kernel/sound_control/headphone_gain "6 6"

    # KSM - Kernel Samepage Mapping
    write /sys/kernel/mm/ksm/run 0
    write /sys/kernel/mm/ksm/pages_to_scan 256
    write /sys/kernel/mm/ksm/sleep_millisecs 1000
    write /sys/kernel/mm/ksm/deferred_timer 1

    # uksm
    write /sys/kernel/mm/uksm/max_cpu_percentage 20
    write /sys/kernel/mm/uksm/run 1

   # re-enable retention idle state
   # fix-up is merged in the Kernel
   write /sys/module/lpm_levels/system/a53/cpu0/retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a53/cpu1/retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a53/cpu2/retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a53/cpu3/retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a57/cpu4/retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a57/cpu5/retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a53/a53-l2-retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a57/a57-l2-retention/idle_enabled 1

   # Enable Laptop Mode
   write /proc/sys/vm/laptop_mode 1

    # Other
    write /sys/module/mmc_core/parameters/use_spi_crc 0
    write /sys/module/sync/parameters/fsync_enabled 0

   # Wakelock dividers
   write /sys/module/bcmdhd/parameters/wlrx_divide 8
   write /sys/module/bcmdhd/parameters/wlctrl_divide 8

   # bcmdhd wakeup sources
   write /sys/module/wakeup/parameters/enable_wlan_rx_wake_ws 0
   write /sys/module/wakeup/parameters/enable_wlan_ctrl_wake_ws 0
   write /sys/module/wakeup/parameters/enable_wlan_wake_ws 0
   write /sys/module/wakeup/parameters/enable_ipa_ws 0
